<div class="header" id="header">

  <div class="container">
    <a routerLink="/home" style="display: flex ; cursor: pointer"><img style="width: 68px" src="assets/imgs/UpcyclingArt-removebg-preview.png">
      <h2 class="logo">UpcyclingArt</h2>
    </a>

    <ul class="main-nav">
      <li *ngIf="isLogin && isContact && isInscrit">
        <a style="cursor: pointer">Categorie<i style="margin-left: 5px" class="fa-solid fa-caret-down fa-bounce"></i></a>
        <div class="mega-menu" style="width: 400px;margin-left: 150px">
          <ul class="links">
            <li>
              <a class="mega-menu-trigger">Nos oeuvres<i style="margin-left: 5px" class="fa-solid fa-caret-right"></i></a>
              <div class="mega-menu" style="margin-top: -52px">
                <ul>
                  <li><a href="#">les peintures</a></li>
                  <li><a href="#">Art du bois</a></li>
                  <li><a href="#">Art du fer</a></li>
                  <li><a href="#">Art d'Aluminum</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a class="mega-menu-trigger">Matières premières <i style="margin-left: 5px" class="fa-solid fa-caret-right"></i></a>
              <div class="mega-menu" style="margin-top: -52px">
                <ul>
                  <li><a href="#">Fer</a></li>
                  <li><a href="#">Bois</a></li>
                  <li><a href="#">Aliminum</a></li>
                  <li><a href="#">Matériaux de peinture</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>

      <li>
        <a *ngIf="isContact && isLogin && isInscrit" href="#">Lien Utiles <i style="margin-left: 5px" class="fa-solid fa-caret-down fa-bounce"></i></a>
        <!-- Start Megamenu -->
        <div class="mega-menu">
          <div class="image">
            <img src="/assets/imgs/megamenu.png" alt="" />
          </div>
          <ul class="links">
            <li>
              <a href="#testimonials"><i class="far fa-comments fa-fw"></i>Nos artistes</a>
            </li>
            <li>
              <a href="#services"><i class="far fa-building fa-fw"></i>Services</a>
            </li>
            <li>
              <a href="#work-steps"><i class="far fa-clipboard fa-fw"></i>Comment ça fonctionne</a>
            </li>
            <li>
              <a href="#gallery"><i class="fa-solid fa-film fa-fw"></i>Galerie</a>
            </li>
          </ul>
          <ul class="links">
            <li>
              <a href="#pricing"><i class="fas fa-server fa-fw"></i>plans tarifaires</a>
            </li>
            <li>
              <a href="#stats"><i class="far fa-chart-bar fa-fw"></i>Statistiques</a>
            </li>
            <li>
              <a href="#discount"><i class="fas fa-percent fa-fw"></i>Demander une remise</a>
            </li>
          </ul>
        </div>
        <!-- End Megamenu -->
      </li>
      <li routerLinkActive="active"  *ngIf="!isLoggedIn()"><a routerLink="/signup" style="cursor: pointer"><span style="margin-right: 8px" class="fa-solid fa-user-plus" ></span>Devenir un client</a></li>
      <li routerLinkActive="active" ><a routerLink="/signupartist" style="cursor: pointer"><span style="margin-right: 8px" class="fa-solid fa-user-plus" ></span>Devenir un artiste</a></li>
      <li routerLinkActive="active"  *ngIf="!isLoggedIn()"><a routerLink="/login" style="cursor: pointer"><span style="margin-right: 8px" class="fa-solid fa-right-to-bracket"></span>Se connecter</a></li>
      <li><div><a routerLinkActive="active" id="contact" routerLink="/contact" style="cursor: pointer">Contactez-nous</a></div></li>
    </ul>
  </div>
</div>
