<<div class="articles" id="articles">
    <h2 class="main-title">À propos</h2>
    <div style="display: flex" >
        <div class="container">
            <div class="box">
                <div class="content">
                    <h3>Qui sommes-nous ?</h3>
                    <p>
                        Nous offre une plate-forme aux artistes et aux utilisateurs pour créer et découvrir des œuvres d'art uniques fabriquées à partir de matériaux recyclés. Notre mission est de réduire les déchets et d'inspirer les gens à voir la beauté et la valeur de la réutilisation des objets du quotidien. Rejoignez-nous dans notre voyage vers un avenir plus durable.
                    </p>
                </div>
                <div class="info">
                    <a routerLink="/signup">Adhérer maintenant</a>
                    <i class="fas fa-long-arrow-alt-right"></i>
                </div>
            </div>
        </div>
        <img style="width: 250px;margin-right: 180px" src="/assets/imgs/chair.png">
    </div>
</div>