<div class="profile-photo"  >
    <a href=""><h3>Galeries</h3> </a>
    <p>{{posts.length}} publications </p>
    <hr>
    <div class="imgs">
        <div *ngFor="let image of images | slice:0:9" >
            <img    [src]="image.url" >
        </div>
    </div>

</div>
<!-- Modal
<div class="modal fade" id="image" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width: 75%;margin-top:56px;" role="document">
        <div class="modal-content">
            <div class="modal-body" >
                <app-post [post]="post"> </app-post>
                <button type="button" class=" close" data-dismiss="modal"></button>
            </div>
        </div>
    </div>
</div>
 End Modal -->