<div class="home-container">
  <div class="home-mac-book-air1">

    <img
      alt="Ellipse116"
      src="/assets/playground_assets/ellipse116-b8gq.svg"
      class="home-ellipse1"
    />
    <div class="product-img">
      <img src="assets/product/art1.png" style="
      position: absolute;
    top: 300px;
    right: 80px;
    width: 200px;
    height: 200px;">

      <img src="assets/product/art2.png" style="
      position: absolute;
    top: 300px;
    right: 80px;
    width: 200px;
    height: 200px;">

      <img src="assets/product/art3.png" style="
      position: absolute;
    top: 300px;
    right: 80px;
    width: 200px;
    height: 200px;">

      <img src="assets/product/art4.png" style="
      position: absolute;
    top: 300px;
    right: 80px;
    width: 200px;
    height: 200px;">
    </div>
    <div class="home-frame2">
    </div>
    <h1 style="position: absolute;padding-left: 78.5%;padding-top: 25%;z-index: 1;font-size: 30px;font-weight:700;font-family: cursive;">Meilleurs articles</h1>
    <img
      alt="Ellipse619"
      src="/assets/playground_assets/ellipse619-e3wn-300h.png"
      class="home-ellipse6"
    />
    <img
      alt="Ellipse4110"
      src="/assets/playground_assets/ellipse4110-c2hg-200h.png"
      class="home-ellipse4"
    />
    <img
      alt="Ellipse5111"
      src="/assets/playground_assets/ellipse5111-zvf-200h.png"
      class="home-ellipse5"
    />
    <div style="margin-left: 100px; margin-top: 70px">
      <img style="width: 550px"
        alt="Ellipse5111"
        src="/assets/playground_assets/christian-buehner-DItYlc26zVI-unsplash-removebg-preview.png"
      />
      <br>
      <br>

      <div class="articles" data-aos="fade-up" data-aos-duration="3000">
          <div class="container">
            <div class="box">
              <div class="content">
                <h3>Artiste du mois : chris
                  <i class="fa-solid fa-star" style="color: #ffd43b;font-size: 22px;margin-left: 10px"></i>
                  <i class="fa-solid fa-star" style="color: #ffd43b;font-size: 22px;"></i>
                  <i class="fa-solid fa-star" style="color: #ffd43b;font-size: 22px;"></i>
                  <i class="fa-solid fa-star" style="color: #ffd43b;font-size: 22px;"></i>
                  <i class="fa-solid fa-star" style="color: #ffd43b;font-size: 22px;"></i>
                </h3>
                <p>son art n'est pas seulement visuellement saisissant, mais il raconte aussi une histoire, évoque des émotions et laisse une impression durable sur tous ceux qui le regardent. Ceci est une collection de ses meilleures œuvres :</p>
              </div>
            </div>
          </div>
      </div>


    </div>

  </div>
</div>

