.section-bar{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.slider{
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.slide{
    width: 500%;
    height: 500px;
    display: flex;
}
.slide input{
    display: none;
}
.st{
    width: 20%;
    transition: 2s;
    display: flex;
}
.st img{
    width: 800px;
    height: 500px;
}
.nav-m{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    justify-content: center;
    display: flex;
    margin-left: 25%;
}
.m-btn{
    border: 2px solid #23e3c2;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.m-btn:not(:last-child){
    margin-right: 30px;
}
.m-btn:hover{
    background-color: #23e3c2;
}
#radio1:checked ~.first{
    margin-left:0 ;
}
#radio2:checked ~.first{
    margin-left:-20%;
}
#radio3:checked ~.first{
    margin-left:-40%;
}

.nav-auto{
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
    margin-left: 25%;
}
.nav-auto div{
    border:2px solid #23e3c2;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}
#radio1:checked~ .nav-auto .a-b1{
    background-color: #23e3c2;
}
#radio2:checked~ .nav-auto .a-b2{
    background-color: #23e3c2;
}
#radio3:checked~ .nav-auto .a-b3{
    background-color: #23e3c2;
}

.content{
    padding: 20px;
    margin: 0;
    margin-top: 100px;
}
.content h1{
    margin-left: 40px;
    margin-bottom: 20px;
    font-size:3.5em	;
    font-family:'Times New Roman', Times, serif;	}
.content h3{
    margin-left: 40px;
    margin-bottom: 10px;
    font-size:1.5em	;
    font-family: cursive;	}
.content p{
    margin-left: 40px;
    line-height: 1.5;
    font-size: 20px;
}
.apropos{
    width: 200px;
    height: 50px;
    background: #f2eff1;
    margin-left: 7%;
    margin-top: 15px;
    font-size: 1.3em;
    border-radius: 6px;
}
.button-benefits{
    width: 200px;
    height: 50px;
    background: #fff;
    font-size: 1.3em;
    border-radius: 6px;
    margin-left: 65%;
}
.button-benefits-user{
    width: 200px;
    height: 50px;
    background: #fff;
    font-size: 1.3em;
    border-radius: 6px;
    margin-left: 65%;
    margin-top:10px;
}
.slider-btn.prev{
    left: 1rem;
    width: 50px;
    height: 50px;
    top: 300px;
    position: absolute;
    background: transparent;
    border: transparent;
}
.slider-btn.prev img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transform: rotate(180deg);
    margin-left: -25px;
}
.slider-btn.next img{
    width: 30px;
    height: 30px;
    margin-right: -25px;
    cursor: pointer;

}
.slider-btn.next{
    right: 1rem;
    width: 50px;
    height: 50px;
    top: 300px;
    position: absolute;
    background: transparent;
    border: transparent;

}


@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
.content1{
    background:#f2eff1 ;border: solid #f2eff1 3px; border-radius: 5px;;width: 60%;
}
.st1{background:#f2eff1;}
.st1 img{width: 40%;}
.st2{background:#000000;}
.st2 img{width: 40%}
.content2{background:#000000 ; color: #f2eff1; width: 60%;}
.content2 h1{margin-top:10%;}
.st3{background: #e2caae;}
.content3{background: #e2caae;width: 60%;}
.content3 h1{margin-top:10%;}
.image{width: 40%;}
.image img{
    width:80%;
    margin-left:10%;
    animation: bounce 2s infinite;
}
