<div class="discount" id="discount" style="padding-top:80px;">
  <div class="image">
    <div class="content">

      <img src="/assets/imgs/chojra.png" alt="" />
    </div>
  </div>
  <div class="form">
    <div class="content" style="margin-top:16px">
      <h2>créer un nouveau compte</h2>
      <form action="" name="myform" [formGroup]="signupForm" (ngSubmit)="signup(signupForm)" (submit)="signupForm">
        <input [ngStyle]="{'border-color': controls.name && controls.name.invalid && controls.name.touched ? 'red' : ''}"
          class="input" type="text" placeholder="Votre nom" name="name"
               formControlName="name"
               required/>
        <input [ngStyle]="{'border-color': controls.prenom && controls.prenom.invalid && controls.prenom.touched ? 'red' : ''}"
          class="input" type="text" placeholder="Prenom" name="prenom"
               formControlName="prenom"
               required/>
        <input class="input" type="email" placeholder="Votre E-mail" name="email"
               formControlName="userName"
               required/>
        <div *ngIf="controls && controls.userName.touched && controls.userName.invalid" style="margin-top: -18px">
          <span style="color: red;display: flex">Email invalide</span>
          <br>
        </div>
        <input class="input" type="number" placeholder="Ton téléphone" name="tel"
               formControlName="tel"
               required/>
        <div *ngIf="controls.tel.touched && controls.tel.invalid" style="margin-top: -18px">
          <span style="color: red;display: flex">votre numéro de téléphone doit contenir 8 chiffres</span>
          <br>
        </div>
       <div style="display: flex">
         <input id="showpass" type="password" class="input" placeholder="mot de passe" name="mdp"
                formControlName="userPassword"
                required/><i id="eyeslashpass" style="
                background-color: #80808075;width: 40px;margin-bottom: 25px;padding-top: 15px;
                cursor: pointer;border-bottom-right-radius: 6px;
                border-top-right-radius: 6px;" class="fa fa-eye-slash" (click)="showPassword()"></i>
       </div>

        <p style="font-size: 15px;width: 420px;color: red;margin-top: -18px;display: flex" *ngIf="controls.userPassword.errors?.['pattern']">
          Password must contain at least one number, one uppercase and a
          lowercase letter and at least 8 characters . Password cannot
          contain whitespace
        </p>

        <div style="display: flex">
          <input id="showpasscf" class="input" type="password" placeholder="confirmer votre mot de passe" name="cmdp"
                 formControlName="userPasswordCnf"
                 required/><i id="eyeslashpasscf" style="background-color: #80808075;width: 40px;margin-bottom: 25px;padding-top: 15px;
                cursor: pointer;border-bottom-right-radius: 6px;
                border-top-right-radius: 6px;" class="fa fa-eye-slash" (click)="showPasswordcf()" ></i>

        </div>
        <p style="font-size: 15px;width: 420px;color: red;margin-top: -18px;display: flex" *ngIf="signupForm.hasError('notSame') && controls.userPasswordCnf.touched">Passsword and
          Confirm Password didn't match. </p>

       <!-- <select id="mySelect" type="qui" name="selectedOption"
                [(ngModel)]="selectedOption"
                formControlName="selectedOption">
          <option value="" hidden>Tu es ?</option>
          <option class="option" value="artiste">artiste</option>
          <br>
          <hr>
          <option class="option" value="user">user</option>
        </select>

        <input [ngStyle]="{'border-color': controls.specialite && controls.specialite.invalid && controls.specialite.touched ? 'red' : ''}"
          required class="input" type="text" placeholder="Specialité" name="specialite" formControlName="specialite" />
        <input [ngStyle]="{'border-color': controls.description && controls.description.invalid && controls.description.touched ? 'red' : ''}"
          required class="input" type="text" placeholder="Description" name="description" formControlName="description" />
        <input required  class="input" type="number" placeholder="CIN" name="cin" formControlName="cin" />
        <div *ngIf="controls.cin.invalid && controls.cin.touched"  style="margin-top: -18px">
          <span style="color: red;display: flex">votre numéro cin doit contenir 8 chiffres</span>
          <br>
        </div> -->

        <div>

          <input id="btnInscrit" type="submit" value="Inscrit" [disabled]="!signupForm.valid"/>
        </div>
      </form>
    </div>
  </div>
</div>
