
<!-- Start Landing -->
<app-slider-bar2></app-slider-bar2>
<!-- End Landing -->
<!-- Start Articles -->
<div class="articles" id="articles" style="margin-top:-134px">
  <!--Start before after images-->
  <h2 class="main-title">Meilleurs articles</h2>
  <div class="info" style="margin-left: 29%; margin-top: -35px;margin-bottom: 55px;">
    <div  data-aos="fade-right" data-aos-duration="2000" class="box" style="padding: 14px">
      <div class="text">
        <p style="margin-bottom:0">
          Cette section met en avant les meilleurs articles de notre site, qui sont tous des exemples inspirants de l'art de l'upcycling. Chaque article présente une paire d'images avant et après, montrant comment un objet autrefois considéré comme un déchet peut être transformé en une pièce d'art unique et belle. Nous espérons que ces exemples inspireront nos utilisateurs à trouver de nouveaux moyens créatifs de réutiliser et de recycler les objets du quotidien.
        </p>
      </div>
    </div>
  </div>
  <app-before-after slide_script="src/assets/js/slide.js"></app-before-after>
</div>
<div class="spikes"></div>
<!-- End Articles -->
<!-- Start Gallery -->
<div class="gallery" id="gallery">
  <!--artist galerie -->
  <h2 class="main-title" >Inspirez-vous</h2>
  <app-slider-barArtist></app-slider-barArtist>
  <!--User galerie -->
  <h2 class="main-title" >Trésors cachés</h2>
  <app-slider-bar-user></app-slider-bar-user>
  <br>
</div>
<!-- End Gallery -->

<!-- Start Testimonials -->
<div class="testimonials" id="testimonials">
  <h2 class="main-title">Nos Artistes</h2>
  <div class="container">
    <div class="box"  data-aos="flip-left" data-aos-duration="3000">
      <img src="/assets/imgs/avatar-01.png" alt="" />
      <h3>Mohamed Farag</h3>
      <span class="title">Artiste</span>
      <div class="rate">
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="far fa-star"></i>
      </div>
      <p>
        Je suis un peintre contemporain qui crée des compositions vibrantes et abstraites en utilisant des couleurs vives et des coups de pinceau gestuels.
      </p>
    </div>
    <div class="box" data-aos="flip-left" data-aos-duration="3000">
      <img src="/assets/imgs/avatar-02.png" alt="" />
      <h3>Mohamed Ibrahim</h3>
      <span class="title">Artiste</span>
      <div class="rate">
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="far fa-star"></i>
      </div>
      <p>
        je suis un sculpteur qui travaille principalement le bronze. Ses pièces sont souvent inspirées par la nature et présentent des détails et des textures complexes.
      </p>
    </div>
    <div class="box" data-aos="flip-left" data-aos-duration="3000">
      <img src="/assets/imgs/avatar-03.png" alt="" />
      <h3>Shady Nabil</h3>
      <span class="title">Artiste</span>
      <div class="rate">
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="far fa-star"></i>
      </div>
      <p>
        est un artiste en techniques mixtes qui combine peinture et dessin dans son travail. Ses pièces sont ludiques et fantaisistes, mettant en vedette des éléments de la nature et de la vie quotidienne      </p>
    </div>

  </div>
</div>
<!-- End Testimonials -->
<!--Start winning artist-->
<app-carousel></app-carousel>
<!--End winning artist-->
<!-- Start Services -->
<div class="services" id="services">
  <h2 class="main-title">Services</h2>
  <div class="container">
    <div class="box">
      <i class="fas fa-user-shield fa-4x"></i>
      <h3>sécurité</h3>
      <div class="info">

        <a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModalCenter">
          Détail
        </a>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Service de securité</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="margin-right: 60px;">
                Nous utilisons des technologies de pointe pour garantir la confidentialité des données de nos utilisateurs et nous nous engageons à protéger leur vie privée en tout temps.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
    <div class="box">
      <i class="fas fa-tools fa-4x"></i>
      <h3>Résolution des problèmes</h3>
      <div class="info">


        <a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModalCenter1">
          Détail
        </a>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle1">Résolution des problèmes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="margin-right: 62px;">
                Notre plateforme est conçue pour aider nos utilisateurs à résoudre facilement et efficacement tous les problèmes qu'ils pourraient rencontrer. Notre équipe dévouée est là pour répondre à toutes vos questions et préoccupations
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

    <div class="box">
      <i class="fas fa-bullhorn fa-4x"></i>
      <h3>Commercialisation</h3>
      <div class="info">

        <a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModalCenter2">
          Détail
        </a>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle2">Commercialisation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="margin-right: 31px">
                un service de commercialisation pour les artistes et artisans locaux. Nous mettons en avant leurs créations uniques en les présentant à un public plus large, ce qui permet aux créateurs de gagner en visibilité et de développer leur clientèle.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- End Services -->

<!-- Start Work Steps -->
<div class="work-steps" id="work-steps">
  <h2 class="main-title">Comment ça fonctionne ?</h2>
  <div class="container">
    <img data-aos="zoom-in-up" data-aos-duration="2000" src="/assets/imgs/" alt="" class="image" />
    <br>
    <br>
    <div class="info" style="display: flex;">
      <div  data-aos="fade-right" data-aos-duration="2000" class="box">
        <img src="/assets/imgs/work-steps-1.png" alt="" />
        <div class="text">
          <h3>Si vous êtes un artiste</h3>
          <p>
            vous pouvez parcourir les listes et sélectionner les matériaux qui vous intéressent, et les utiliser pour créer des œuvres d'art recyclées. Présentez votre travail dans notre galerie en ligne et communiquez avec des clients potentiels. partagez vos projets en cours, et recevez les notes des utilisateurs.
          </p>
        </div>
      </div>
      <div data-aos="fade-left" data-aos-duration="2000" class="box">
        <img src="/assets/imgs/work-steps-2.png" alt="" />
        <div class="text">
          <h3>Si vous êtes un simple utilisateur</h3>
          <p>
            vous pouvez vous inscrire gratuitement. Si vous avez des objets à donner, vous pouvez les ajouter à la plateforme. Les artistes sur le site peuvent sélectionner ces matériaux pour créer des œuvres d'art recyclées. Utilisez notre système de filtrage pour rechercher des matériaux en fonction de la catégorie, de l'emplacement et de la disponibilité.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- End Work Steps -->

<!-- Start Pricing -->
<div class="pricing" id="pricing">
  <div class="dots dots-up"></div>
  <div class="dots dots-down"></div>
  <h2 class="main-title">Forfaits tarifaires</h2>
  <div class="container">
    <div class="box" data-aos="fade-right">
      <div class="title">Basic pour les utilisateurs simples</div>
      <img src="/assets/imgs/hosting-basic.png" alt="" />
      <div class="price">
        <span class="amount">Free</span>

      </div>
      <ul>
        <li>avoir votre propre profil</li>
        <li>postez vos objets</li>
        <li>voir le travail d'autres artistes</li>
        <li>contacter l'artiste en privé</li>
      </ul>
      <a style="margin: 111px auto 40px;" href="#">Choisissez un forfait</a>
    </div>
    <div class="box" data-aos="fade-left">
      <div class="title">professionnel</div>
      <img src="/assets/imgs/hosting-professional.png" alt="" />
      <div class="price">
        <span class="amount">20 DT</span>
        <span class="time">Par mois / 3 semaines d'essai gratuit</span>
      </div>
      <ul>
        <li>avoir votre propre profil</li>
        <li>publiez votre art</li>
        <li>avoir une galerie contenant tous vos arts</li>
        <li>sélectionnez les objets dont vous intéresse</li>
        <li>contactez vos clients en privé</li>
      </ul>
      <a href="#">Choisissez un forfait</a>
    </div>
  </div>
</div>
<!-- End Pricing -->

<!-- Start Stats -->
<div class="stats" id="stats">
  <h2 class="main-title">Nos chiffres clé</h2>
  <div class="container" style="margin-left: 17.5%; ">
    <div class="box">
      <i class="far fa-user fa-2x fa-fw"></i>
      <span class="number" data-goal="150" id="clients">0</span>
      <span class="text">Clients</span>
    </div>
    <div class="box">
      <i class="far fa-user fa-2x fa-fw"></i>
      <span class="number" data-goal="150" id="artists">0</span>
      <span class="text">Artistes</span>
    </div>
    <div class="box">
      <i class="fas fa-globe-asia fa-2x fa-fw"></i>
      <span class="number" data-goal="50" id="countries">1</span>
      <span class="text">Des pays : </span>tunisia
    </div>
  </div>
</div>
<!-- End Stats -->
<!-- Start Discount -->
<!--<div class="discount" id="discount">
  <div class="image">
    <div class="content">
      <h2>Nous avons une réduction</h2>
      <p>
        Chez Upcycle Art, nous apprécions nos fidèles artistes, c'est pourquoi nous proposons un programme de réduction spécial pour montrer notre appréciation.
        Alors que vous continuez à créer de belles œuvres d'art recyclées et à les partager sur notre galerie en ligne, vous aurez également la possibilité de gagner des points de récompense qui pourront être échangés contre des réductions sur de futurs .
      </p>
      <img src="/assets/imgs/discount.png" alt="" />
    </div>
  </div>
  <div class="form">
    <div class="content">
      <h2>Demander une remise</h2>
      <form action="">
        <input class="input" type="text" placeholder="Votre nom" name="name" />
        <input class="input" type="email" placeholder="Votre E-mail" name="email" />
        <input class="input" type="text" placeholder="Ton téléphone" name="mobile" />
        <textarea class="input" placeholder="Parlez-nous de vos besoins" name="message"></textarea>
        <input type="submit" value="Envoyer" />
      </form>
    </div>
  </div>
</div>-->
<!-- End Discount -->
<!-- Start Footer -->
<div class="footer">
  <div class="container">
    <div class="box">
      <h3>UpcyclingArt</h3>
      <ul class="social">
        <li>
          <a href="#" class="facebook">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="#" class="twitter">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#" class="youtube">
            <i class="fab fa-youtube"></i>
          </a>
        </li>
      </ul>
      <p class="text" style="width: 700px; margin-top: 143px">
        Termes et conditions : En utilisant notre site, vous acceptez nos termes et conditions.
        Politique de confidentialité : Notre politique de confidentialité décrit comment nous collectons et utilisons vos informations personnelles.
      </p>
    </div>
    <div class="box">
      <ul class="links">
        <li><a routerLink="/apropos">À propos</a></li>
        <li><a routerLink="/contact">Contactez-nous</a></li>
      </ul>
    </div>
    <div class="box">
      <div class="line">
        <i class="fas fa-map-marker-alt fa-fw"></i>
        <div class="info">Tunis, tunis, Manzah 4</div>
      </div>
      <div class="line">
        <i class="far fa-clock fa-fw"></i>
        <div class="info">Business Hours: 24/7</div>
      </div>
      <div class="line">
        <i class="fas fa-phone-volume fa-fw"></i>
        <div class="info">
          <span><a style="color:#b9b9b9" href="tel:+20123456789">+20123456789</a></span>
          <span><a style="color:#b9b9b9" href="tel:+20198765432">+20198765432</a></span>
        </div>
      </div>
    </div>
  </div>
  <p class="copyright">Dans chaque marche avec la nature, on reçoit bien plus que ce qu'on cherche</p>
</div>
<!-- End Footer -->

